<%- include('partials/header') -%>

<%data.forEach((element)=>{%>
    <div class="doctor">
        <img src="/uploads/<%= element.img %>" />
        <p><%= element.username %></p>
        <p><%= element.attend %></p>
        <form action="/preBilling" method="post">
            <button type="submit" value="<%= element.username %>" name="doctor">Appoint</button>
        </form>
    </div>
    <%})%>

<%- include('partials/footer') -%>