<%- include('partials/header') -%>
    <div class="main-hospital">
        <%data.forEach(element=>{%>
        <a href="/hospitals/<%= element.username %>" class="hos-card">
            <div class="container1">
                <img src="/uploads/<%= element.img %>" />
            </div>
            <div class="details">
                <div class="name">
                    <h1><%= element.username %></h1>
                </div>
                <div class="address">
                    <p><%= element.address %></p>
                </div>
            </div>
        </a>
        <%})%>
    </div>
        <%- include('partials/footer') -%>