<%- include('partials/header') -%>

    <h2 class="patHead">Your Appointments</h2>
        <div class="patient-acc">

            <% if (Array.isArray(data) && data.length> 0) { %>
                <% data.forEach((element)=> { %>
                    <% if (element && element.username) { %>
                        <div class="cards">
                            <div class="container">
                                <img class="pic" src="/uploads/<%= element.img %>" />
                            </div>
                            
                            <p>
                                <%= element.username %>
                            </p>
                            <form class="form" action="/chat" method="post">
                                <button type="submit" value="<%= element._id %>" name="doctor">Message</button>
                            </form>
                        </div>
                        <% } else { %>

                            <% } %>
                                <% }) %>
                                    <% } else { %>
                                        <p>No data available</p>
                                        <% } %>
        </div>




    <%- include('partials/footer') -%>