<%- include('partials/header') -%>

<p>Name: <%= data.name %></p>
<p>Phone no.:<%= data.phone %></p>
<p>Age: <%= data.age %></p>
<p>Doctor: <%= data.doctor %></p>
<p>Hospital: <%= data.hospital %></p>
<a href="/uploads/<%= data.receipt %>" download="">Download Receipt</p>

<%- include('partials/footer') -%>