<%- include('partials/header') -%>
<ul>
<%data.forEach((element)=>{%>
        <li><%= element.name %></li>
        <%})%>
</ul>

<ul>
    <%data.forEach((element)=>{%>
            <li><%= element.phone %></li>
            <%})%>
    </ul>
    <ul>
        <%data.forEach((element)=>{%>
                <li><%= element.age %></li>
                <%})%>
        </ul>
    <ul>
        <%data.forEach((element)=>{%>
                <li><%= element.doctor %></li>
                <%})%>
        </ul>
        <ul>
                <%data.forEach((element)=>{%>
                        <li>
                        <%if(element.type==='Online'){%>
                                <form action="/chat" method="post">
                                <button type="submit" value="<%= username %>" name="username">Message</button>
                        </form>
                                <%}%>
                        </li>
                        
                        <%})%>
                
                </ul>
        <ul>
            <%data.forEach((element)=>{%>
                    <li>
                        <a href="/uploads/<%= element.receipt %>">Download Receipt</a>
                    </li>
                    <%})%>
            </ul>

<%- include('partials/footer') -%>